.b1{
    width: 10%;
    height: 3%;
    background-color: antiquewhite;
    color: darkred;
    border: none;  
}
.b1::before, .b1::after{
    z-index: 100;
    display: inline;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: brown;
    border:none;
    transition: all 1s ease-in-out;
}
.b1:hover::before, .b1:hover::after{
    width: 100%;
}