main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #434343;
}

.fas {
    width: 32px;
}

.box {
    position: relative;
}

.fig {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes square {
    0%, 100% {
        transform: translate(-20px);
    }

    30% {
        transform: translateY(20px);
    }
}

.square1{
    width: 100px;
    height: 100px;
    top: -30px;
    right: -45px;
}

.square2 {
    width: 200px;
    height: 200px;
    top: 190px;
    left: -130px;
    z-index: 2;
}

.square3 {
    width: 80px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
}

.square4 {
    width: 50px;
    height: 500px;
    bottom: 35px;
    left: -95px;
}

.square5 {
    width: 50px;
    height: 100px;
    top: -15px;
    left: -25px;
}

.square6 {
    width: 85px;
    height: 85px;
    top: 165px;
    right: -155px;
    z-index: 2;
}


.container {
    position: relative;
    padding: 50px;
    width: 350px;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.container::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
}

.form h2 {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.inputBx input {
    width: 80%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}




.fas {
    position: absolute;
    top: 13px;
    left: 13px;
}

.container input[type="submit"] {
    background: #fff;
    color: #111;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1.5s;
}

.container input[type="submit"]:hover {
    background: linear-gradient(115deg,
    rgba(0, 0, 0, 0.10),
    rgba(255, 255, 255, 0.25));
    color: #fff;
    transition: .5s;
}

.container input::placeholder {
    color: #fff;
}

.container span {
    position: absolute;
    left: 8px;
    padding: 8px;
    display: inline-block;
    color: #fff;
    transition: .5s;
    pointer-events: none;
}

.container input:focus ~ span,
.container input:valid ~ span {
    transform: translateY(-25px);
    font-size: 12px;
}


.container p {
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}

.container a {
    color: #9ce6c0;
}

.container a:hover {
    color: lightslategrey;

}


/*Footer*/
footer{
    display: flex;
    background-color: #434343;
    justify-content: center;
    padding-bottom: 40px;
}
.social_buttons{
    display: flex;
}

.social_button img {
    width: 30px;
    position: relative;
    z-index: 3;
}

.social_button {
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
}

.social_button::after {
    content: "";
    background: linear-gradient(#47df49, #1358d0);
    position: absolute;
    z-index: 1;
    display: block;
    transition: all 0.35s;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
}

.social_button:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}