@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
.title{
    display: flex;
    justify-content: space-evenly;
}
h1{
    font-family: 'Lobster', cursive;
    color: #9d8660;
}


h2{
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    max-width: 1500px;
    margin: 0 auto !important; 
    background-color: rgb(255, 246, 237);
}
ul>li{
    width: fit-content;
    border: #603e31;
    border-width: 1px;
    margin: 0;
    padding: 3px;
    border-radius: 2%;
}
nav li:hover{
    color: rgb(231, 99, 99);
}
a:visited{
    color: rgb(90, 30, 81);
}
a:active {
    color: red;
}

.mainnav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.qu{
    display: flex;
    justify-content: flex-end;
}
address::first-line{
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #603e31;
    color: beige;
    font-weight: 600;
}
footer p{
    width: 100%;
    text-align: center;
}
h3~p{
    background-color: rgb(248, 234, 219);
}
a{
    background-color: inherit;
}
footer a,li,address,p,ul,nav{
    background: inherit;
    color: inherit;
}
footer a:visited{
    color: rgba(0, 165, 206, 0.914);
}

.terms>p{
    text-align: center;
    font-size: larger;
}
/*    4 практика */
.inputLabel{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
form{
    max-width: 350px;
    margin: 0 auto;
}
.rado{
    display: flex;
    justify-content: space-between;
}
input:focus{
    background: #938a7b81;
}
input::placeholder, textarea::placeholder{
    font-style: italic;
    color:rgb(155, 143, 128);
}
.vis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
}
.but{
    display: flex;
    justify-content: space-between;
}
.bb{
    background-color: #603e31;
    color:antiquewhite;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
}
.vid{
    margin-top: 10%;
}
iframe{
    margin-left: 20rem;
}




/* 5 pract*/
h3{
    text-align: center;
}
.mainnav li {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}
.mainnav a{
    text-decoration: none;
}
.items>a, .menu a{
    text-decoration: none;
}
.items>a:hover, .menu a:hover{
    color:rgb(231, 99, 99);
}
li>.items{
    display: none;
}
.list:hover > .items{
    display: flex;
    flex-direction: column;
    z-index: 4;
    background-color:antiquewhite;    
    position: fixed;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.w100{
    width: 100%;
}
.w66{
    width: 65%;
}
.w33{
    width: 33%;
}
.cont{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top-nav {

    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 50%;
}

.menu > li {
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    visibility: hidden;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: rgb(133, 97, 97);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms ease-in-out;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}
@media (min-width:700px) {
    .top-nav{
        display: none;
    }
}
@media (max-width: 700px) {
    .top-nav{
        position: absolute;  
        width: 100%;
    }
    .mainnav{
        display: none;
    }
    .menu-button-container {
        display: flex;
    }
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 1%;

    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms ease-in-out;
    }
    #menu-toggle:checked ~ .menu li {
        border:#444 1px solid;
        height: 30px;
        transition: height 400ms ease-in-out;

    }
    .menu > li {
        display: flex;
        justify-content: center;
        width: 100%;
        color: rgb(39, 36, 36);
        background-color:antiquewhite;    
    }
}
@media screen and (max-width: 900px) {
    .w33{
        width: 100%;
    }
    .w66{
        width: 100%;
    }
    .w100{
        width: 100%;
    }
}