@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
.title{
    display: flex;
    justify-content: space-evenly;
}
h1{
    font-family: 'Lobster', cursive;
    color: #9d8660;
}


h2{
    text-align: center;
}
body{
    display: grid;
    font-family: 'Open Sans';
    max-width: 1500px;
    margin: 0 auto !important; 
    background-color: rgb(255, 246, 237);
}
@media screen and (min-width: 1001px) {
    body{
        grid-template-columns: 10% auto 20%;
        grid-template-rows: 8vh auto auto auto ;
        
    }
}

.title{
    grid-row: span 1;
    grid-column: span 3;
}
.navigate{
   grid-column: 2 / span 1;
}
footer{
    grid-column: span 3;
    grid-row-start: 4;
}
.side{
    grid-row: 2 / span 2;
}
main{
    grid-row-start: 3;
    grid-column-start: 2;
}
.ads{
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2 / span 2;
    align-content: stretch;
    text-align: center;

 }

.ads img{
    width: 100%;
    height: auto;
}
ul>li{
    width: fit-content;
    border: #603e31;
    border-width: 1px;
    margin: 0;
    padding: 3px;
    border-radius: 2%;
}
nav li:hover{
    color: rgb(231, 99, 99);
}
a:visited{
    color: rgb(90, 30, 81);
}
a:active {
    color: red;
}

.mainnav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.qu{
    display: flex;
    justify-content: flex-end;
}
address::first-line{
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
}
footer{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #603e31;
    color: beige;
    font-weight: 600;
}
footer p{
    width: 100%;
    text-align: center;
}
.cop p{
    margin: 0;
    padding: 0;
}
.cop{
    grid-column: 1 / span 4;
    height: auto;
}
h3~p{
    background-color: rgb(248, 234, 219);
}
a{
    background-color: inherit;
}
footer a,li,address,p,ul,nav{
    background: inherit;
    color: inherit;
}
footer a:visited{
    color: rgba(0, 165, 206, 0.914);
}

.terms>p{
    text-align: center;
    font-size: larger;
}




@media screen and (min-width: 769px) and (max-width: 1000px){
    .navigate{
        grid-column: 1/ span 4;
    }
     .side{
        grid-row: 3 / span 1;
    }
    main{
        grid-row: 3;
        grid-column: 2 / span 3;
    }
    .ads{
        grid-column: 1 / span 1;
        grid-row: 4;
    }
    body{
        grid-template-columns: 20% auto 20%;
        grid-template-rows: 8vh auto auto auto ;

    }
    footer{
        grid-template-rows: auto auto 10%;
    }
    .ads{
        height: auto;
        overflow: hidden;
    }
    .ads img:nth-child(even){
        display: none;
    }
    footer .na, .social_buttons{
        grid-column: 1 / span 2;
    }
    footer .text, .contact{
        grid-column: 3 / span 2;
    }

}

@media screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-rows: auto 10vh repeat(4, auto) ;

    }
    .navigate{
        grid-column: 1;
        grid-row: 2;
    }
    main{
        grid-row: 3;
        grid-column: 1 / span 1;
    }
    .side{
        grid-column: 1;
        grid-row: 4 ;
        margin: 0;
        padding: 0;
    }
    .ads{
        grid-row: 5;
        grid-column: 1 / span 1;
        overflow: hidden;
    }
    .ads img:nth-child(even){
        display: none;
    }
    .ads img{
        width: 45%;
    }
    footer{
        justify-items: center;
        grid-row: 6;
        grid-column: 1 / span 1;
    }
    footer .na, .social_buttons{
        grid-column: 1 / span 4;
    }
    footer .text, .contact{
        grid-column: 1 / span 4;
    }
    .contact{
        text-align: center;
    }
}




/*    4 практика */
.inputLabel{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
form{
    max-width: 350px;
    margin: 0 auto;
}
.rado{
    display: flex;
    justify-content: space-between;
}
input:focus{
    background: #938a7b81;
}
input::placeholder, textarea::placeholder{
    font-style: italic;
    color:rgb(155, 143, 128);
}
.vis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
}
.but{
    display: flex;
    justify-content: space-between;
}
.bb{
    background-color: #603e31;
    color:antiquewhite;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
}
.vid{
    margin-top: 10%;
}
iframe{
    margin-left: 20rem;
}




/* 5 pract*/
h3{
    text-align: center;
}
.mainnav li {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}
.mainnav a{
    text-decoration: none;
}
.items>a, .menu a{
    text-decoration: none;
}
.items>a:hover, .menu a:hover{
    color:rgb(231, 99, 99);
}
li>.items{
    display: none;
}
.list:hover > .items{
    display: flex;
    flex-direction: column;
    z-index: 4;
    background-color:antiquewhite;    
    position: fixed;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cont{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top-nav {

    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 50%;
}

.menu > li {
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    visibility: hidden;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: rgb(133, 97, 97);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms ease-in-out;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}
@media (min-width:700px) {
    .top-nav{
        display: none;
    }
}
@media (max-width: 700px) {
    .top-nav{
        
        position: absolute;  
        width: 100%;
    }
    .mainnav{
        display: none;
    }
    .menu-button-container {
        display: flex;
    }
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 1%;

    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms ease-in-out;
    }
    #menu-toggle:checked ~ .menu li {
        border:#444 1px solid;
        height: 30px;
        transition: height 400ms ease-in-out;

    }
    .menu > li {
        display: flex;
        justify-content: center;
        width: 100%;
        color: rgb(39, 36, 36);
        background-color:antiquewhite;    
    }
}

.social_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    bottom: 20px;
}

.social_button img {
    width: 30px;
    position: relative;
    z-index: 3;
}

.social_button {
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
}

.social_button::after {
    content: "";
    background: linear-gradient(#cabd36, #db691d);
    position: absolute;
    z-index: 1;
    display: block;
    transition: all 0.35s;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
}

.social_button:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}